{%load static%}
{%load space%}
<!DOCTYPE html>
<html lang="cz">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{%static 'css/header.css'%}">
    <link rel="stylesheet" href="{%static 'css/checkout.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css" href="{% static 'css/listings.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/category-listings.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/product.css' %}">
    <link rel="stylesheet" href="{%static 'css/footer.css'%}">
    <link rel="icon" type="image/png" href="{% static 'img/logo2.svg' %}">
    <link rel="stylesheet" href="/static/img/bootstrap-icons-1.10.1/bootstrap-icons.css">
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery-3.6.3.min.js"></script>  

    <title>Pokladna | FAJN Nábytek</title>
</head>
<body>
<div id="page-wrap">
    <header>
        {%include 'partials/header.html'%}
    </header>
    <div class="cart-body">
        <div class="cart-body-left">
            <div class="cart-name">
                <h1>Dodací údaje</h1>
            </div>
        <div class="cart-info">
            <div class="cart-card">
                <div class="checkout-form">
                    <div class="row">
                        <form>
                            <h6>Kontaktní údaje</h6>
                            <label>Jméno<span class="required">*</span><input type="text" required></label>
                            <label>Příjmení<span class="required">*</span><input type="text" required></label>
                            <label style="width: 60%;">Email<span class="required">*</span><input type="email" required></label>
                            <label style="width: 40%;">Telefon<span class="required">*</span><input type="text" required></label>
                            <label for="chk" style="flex-wrap: nowrap;width: 100%;">Nákup na firmu<input id="chk" type="checkbox" style="width: 3%;margin-left: 20px;"></label>
                            <div id="ico" style="display: none;">
                                <label style="width: 33.3%;">Název společnosti<span class="required">*</span><input type="email" required></label>
                                <label style="width: 33.3%;">IČO<span class="required">*</span><input type="text" required></label>
                                <label style="width: 33.3%;">DIČ<input type="text"></label>
                            </div>
                            <h6>Adresa dodání</h6>
                            <label>Ulice a č.p.<span class="required">*</span><input type="text" required></label>
                            <label>Obec<span class="required">*</span><input type="text" required></label>
                            <label>PSČ<span class="required">*</span><input type="text" required></label>
                            <label>Stát<span class="required">*</span>
                                <select name="states" class="state-select" required>
                                    <option value="Česká republika">Česká republika</option>
                                    <option value="Slovensko">Slovensko</option>
                                  </select>
                            </label>
                            <label for="chk2" style="flex-wrap: nowrap;width: 100%;">Doplnit fakturační údaje<input id="chk2" type="checkbox" style="width: 3%;margin-left: 20px;"></label>
                            <div id="dph" style="display: none;">
                                <label>Ulice a č.p.<span class="required">*</span><input type="text" required></label>
                                <label>Obec<span class="required">*</span><input type="text" required></label>
                                <label>PSČ<span class="required">*</span><input type="text" required></label>
                                <label>Stát<span class="required">*</span>
                                    <select name="states" class="state-select" required>
                                        <option value="Česká republika">Česká republika</option>
                                    </select>
                            </div>
                            <script>
                                $(function () {
                                    $("#chk").click(function () {
                                        if ($(this).is(":checked")) {
                                            $("#ico").show();
                                        } else {
                                            $("#ico").hide();
                                        }
                                    });
                                });
                                $(function () {
                                    $("#chk2").click(function () {
                                        if ($(this).is(":checked")) {
                                            $("#dph").show();
                                        } else {
                                            $("#dph").hide();
                                        }
                                    });
                                });
                            </script>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cart-body-right">
        <div class="count-name">
            <h1>Objednávka</h1>
        </div>
        <div class="cart-count">
            <div class="delivery">
                <div class="final-count">
                    <h6>Souhrn</h6>
                    <div class="checkout-products">
                        {%for cart_item in cart_items %}
                        <div class="row">
                            <div class="col-md-5" style="text-align: left;">
                                <p>{{cart_item.product.name}}</p>
                            </div>
                            <div class="col-md-5" style="text-align: right;">
                                <p>{{cart_item.line_total|spaced_format}} Kč</p>
                            </div>
                        </div>
                        {%endfor%}
                    </div>
                    <div class="row">
                        <div class="col-md-5" style="text-align: left;">
                            <p>Doprava: </p>
                        </div>
                        <div class="col-md-5" style="text-align: right;">
                            <p>{{delivery_price}} Kč</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5" style="text-align: left;">
                            <p>Košík: </p>
                        </div>
                        {% if total_count < 1 %}
                        <div class="col-md-5" style="text-align: right;">
                            <p>{{total_count}} Kč</p>
                        </div>
                        {%endif%}
                        {% if total_count > 1 %}
                        <div class="col-md-5" style="text-align: right;">
                            <p>{{total_count|spaced_format}} Kč</p>
                        </div>
                        {%endif%}
                    </div>
                    <div class="row overall">
                        <div class="col-md-5" class="" style="text-align: left;">
                            <h5>Celkem: </h5>
                         </div>
                         {% if total_count > 1 %}
                         <div class="col-md-5" style="text-align: right;">
                            <h5>{{total_count|spaced_format}} Kč</h5>
                        </div>
                        {%endif%}
                        {% if total_count < 1 %}
                         <div class="col-md-5" style="text-align: right;">
                            <h5>{{total_count}} Kč</h5>
                        </div>
                        {%endif%}
                    </div>
                    <div class="payment-opts">
                        <h6>Způsob platby</h6>
                        <div class="payment-btns">
                            <form action="" method="post">
                                    <label class="delivery-type"><input type="radio" name="delivery_opt" value="opt1">Splátky ESSOX</label>
                                    <label class="delivery-type"><input type="radio" name="delivery_opt" value="opt2">Platba hotově na prodejně</label>
                                    <label class="delivery-type"><input type="radio" name="delivery_opt" value="opt3">Online platba kartou</label>
                                </form>
                        </div>
                    </div>
                    <div class="checkout-btn-unchecked">
                        <a><button>Zvolte způsob platby</button></a>
                    </div>
                    <div class="checkout-btn">
                        <a><button>Vytvořit objednávku</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <footer>
        {%include 'partials/footer.html'%}
    </footer>
</div>
</body>