{%load static%}
<div class="foot">
    <div class="columns">
        <div class="info-tab">
                <span><i class="bi bi-facebook"></i><a href="https://www.facebook.com/FAJNnabytek" target="_blank">/FAJNnábytek</a></span>
                <span><i class="bi bi-instagram"></i><a href="https://www.instagram.com/fajn_nabytek" target="_blank">@fajn_nabytek</a></span>
        </div>
        <div class="info-tab">
                <span><i class="bi bi-envelope-plus-fill"></i><a href="mailto:info@fajn-nabytek.cz" target="_blank">info@fajn-nabytek.cz</a></span>
                <span><i class="bi bi-telephone"></i><a href="tel:+420704737272" target="_blank">+420 704 737 272</a></span>
        </div>
        <div class="odkaz-tab">
                <span><a href="#">Prodejny a výdejny zboží</a></span>
                <span><a href="#">Kontaktujte nás</a></span>
                <span><a href="#">Způsoby dopravy a platby</a></span>
        </div>
        <div class="odkaz-tab">
            <span><a href="#">Základní informace</a></span>
            <span><a href="#">Obchodní podmínky</a></span>
            <span><a href="#">Ochrana osobních údajů</a></span>
            <span><a href="#">Reklamační formulář</a></span>
        </div>
    </div>
</div>
<div class="trademark">
    <span>© FAJN nábytek 2020 - <script>document.write( new Date().getFullYear() );</script></span>
</div>