{%load static%}
<div class="foot">
    <div class="row">
        <div class="col-lg-4">
            <div class="col">
                <div class="info-tab">
                    <span><i class="bi bi-facebook"></i><a href="https://www.facebook.com/FAJNnabytek" target="_blank">/FAJNnábytek</a></span>
                    <span><i class="bi bi-instagram"></i><a href="https://www.instagram.com/fajn_nabytek" target="_blank">@fajn_nabytek</a></span>
                </div>
            </div>
            <div class="col">
                <div class="info-tab">
                    <span><i class="bi bi-envelope-plus-fill"></i><a href="mailto:info@fajn-nabytek.cz" target="_blank">info@fajn-nabytek.cz</a></span>
                    <span><i class="bi bi-telephone"></i><a href="tel:+420704737272" target="_blank">+420 704 737 272</a></span>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="odkaz-tab">
                <span><a href="#">Prodejny a výdejny zboží</a></span>
                <span><a href="#">Základní informace</a></span>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="odkaz-tab">
                <a href="https://fajn-nabytek.cz"><button>Přejít na e-shop ></button></a>
            </div>
        </div>
    </div>
</div>
<div class="trademark">
    <span>© FAJN nábytek 2020 - <script>document.write( new Date().getFullYear() );</script></span>
</div>