{%load static%}
<div class="head">
        <div class="row justify-content-center">
          <div class="col-md-4">
              <div class="info_div">
                <span><i class="bi bi-envelope-plus-fill"></i><a href="mailto:info@fajn-nabytek.cz" target="_blank">info@fajn-nabytek.cz</a></span>
                <span><i class="bi bi-telephone"></i><a href="tel:+420704737272" target="_blank">+420 704 737 272</a></span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="headimg">
                <a href="https://fajn-nabytek.eu" style="margin: 0 auto; float: none;" alt="FAJN Nábytek"><img src="{% static 'img/FAJN_logo_GOLD.svg' %}" width=80 height=60></a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="text_div">
                <h2 style="font-weight:300">Prodáváme prvotřídní českou a evropskou kvalitu</h2>
              </div>
            </div>
        </div>
</div>
