{%load static%}
{%load space%}
<!DOCTYPE html>
<html lang="cz">


<head>
    {%if listings%}
    {%for listing in listings%}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{%static 'css/header.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css" href="{% static 'css/listings.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/category-listings.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/product.css' %}">
    <link rel="stylesheet" href="{%static 'css/footer.css'%}">
    <link rel="icon" type="image/png" href="{% static 'img/logo2.svg' %}">
    <link rel="stylesheet" href="/static/img/bootstrap-icons-1.10.1/bootstrap-icons.css">
    <script src="/static/js/bootstrap.min.js"></script>    

    <title>{{listing.category}} {{listing.sub_category}}</title>
    {%endfor%}
    {%endif%}
</head>
<header>
    {%include 'partials/header.html'%}
</header>

<body>
  
    <div class="cat-body">
        <div class="category-header">
            <div class="category-header-columns">
        
                <div class="category-title">
                    <h1>Sedací soupravy</h1>
                </div>
                <div class="category-sec-title">
                    Postel je základním kamenem každé ložnice. Pohodlnost a komfort jsou podstatné, ale neméně důležitý
                    je elegantní design. Velká ložná plocha zvyšuje pohodlí, vysoké nožky zase umožní snadný úklid.
                </div>
            </div>
            <div class="cat-links">
                <div class="category-card">
                    <a href="{%url 'levne_sedaci_soupravy'%}" class="card-link">
                        <div class="cat-img">
                            <img src="/media/Ložnice/Postele/fdsa/sabrina1.jpg" class="cat-img-img" alt="...">
                        </div>
                            <div class="cat-content">
                            <h5 class="mt-0">Levné sedací soupravy</h5>
                        </div>
                    </a>
                </div>
                <div class="category-card">
                    <a href="{%url 'rohove'%}" class="card-link">
                        <div class="cat-img">
                            <img src="/media/Ložnice/Postele/fdsa/sabrina1.jpg" class="cat-img-img" alt="...">
                        </div>
                            <div class="cat-content">
                            <h5 class="mt-0">Rohové</h5>
                        </div>
                    </a>
                </div>
                  <div class="category-card">
                    <a href="{%url 'kazdodenni_spanni'%}" class="card-link">
                        <div class="cat-img">
                            <img src="/media/Ložnice/Postele/čalouněné/monza1.jpg" class="cat-img-img" alt="...">
                        </div>
                            <div class="cat-content">
                            <h5 class="mt-0">Na každodenní spaní</h5>
                        </div>
                    </a>
                  </div>

                </div>
             
            </div>

        <div class="filters-column">
            <div>
                <h2>Filtry</h2>
            </div>
        </div>


        <div class="product-listings">
            {%for listing in listings%}
            <div class="product-container">
                <div class="product-card">
                    <div class="imgBx">
            
                        <a href="{%url 'sedaci_soupravy_details' listing.slug%}"><img src="{{ listing.primary_img.url }}" alt={{listing.short_description}}></a>
                    </div>
            
                    <div class="contentBx">
            
                        <h2>{{listing.name}}</h2>
            
                        <div class="sklad">
                            {%if listing.eta == 1 %}
                            <div class="etap"><span class="eta">Dostupnost: </span><span class="eta1">SKLADEM</span></div>
                            {%endif%}
                            {%if listing.eta > 1 and listing.eta < 5 %}
                            <div class="etap"><span class="eta">Dostupnost: </span><span class="eta-low">dodání do {{listing.eta}} týdnů</span></div>
                            {%endif%}
                            {%if listing.eta > 4 %}
                            <div class="etap"><span class="eta">Dostupnost: </span><span class="eta-high">dodání do {{listing.eta}} týdnů</span></div>
                            {%endif%}
                        </div>
            
                        <div class="price">
                            <h3>Cena: </h3>
                            <h3 class="price-num">{{listing.price|spaced_format}} Kč</h3>
                        </div>
                        <a href="{%url 'sedaci_soupravy_details' listing.slug%}">Zobrazit</a>
                    </div>
            
                </div>
            </div>
            {%endfor%}
        </div>
</div> 
<footer>
    {%include 'partials/footer.html'%}
</footer>     
</body>


</html>