{%load static%}
<!DOCTYPE html>
<html lang="cz">


<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{%static 'css/header-alt.css'%}">
    <link rel="stylesheet" href="{%static 'css/dev.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{%static 'css/footer-alt.css'%}">
    <link rel="icon" type="image/png" href="{% static 'img/logo2.svg' %}">
    <link rel="stylesheet" href="/static/img/bootstrap-icons-1.10.1/bootstrap-icons.css">
    <script src="/static/js/bootstrap.min.js"></script>    

    <title>Kanceláře - FAJN Nábytek</title>

    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1RDWVE4DND"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1RDWVE4DND');
</script>

</head>

<body>
    <header>
        {%include 'partials/header-alt.html'%}
    </header>

<div class="index-body">
    <div class="go-back">
        <a href="https://fajn-nabytek.eu"><button><i class="bi bi-arrow-left"></i>Jít zpět</button></a>
    </div>
    <div class="big-wrap">
        <div class="big-text-column">
            <h2 style="margin-bottom: 60px;">Kancelář je místnost kde se úřaduje, kde se vykonává administrativní činnost, ale také zde přijímáte návštěvy a trávíte v ní spoustu času. Je jedno jestli ji máte v administrativní budově, či ve svém domě, vždy ji uděláme dle Vašeho přání tak, abyste se v ní cítili jako doma.</h2>
        </div>
        <div class="big-img-column">
            <div class="col-lg-3">
                <figure>
                    <img src="/static/img/dev/kancelare/modesto_kancelaria_1.webp" alt="Kancelářský program MODESTO - FAJN Nábytek">
                    <figcaption>Kancelářský program MODESTO</figcaption>
                </figure>
            </div>
            <div class="col-lg-3">
                <figure>
                    <img src="/static/img/dev/kancelare/retro.webp" alt="Kancelářský program RETRO - FAJN Nábytek">
                    <figcaption>Kancelářský program RETRO</figcaption>
                </figure>
            </div>
            <div class="col-lg-3">
                <figure>
                    <img src="/static/img/dev/kancelare/point_kancelaria_1_bardolino.webp" alt="Kancelářský program POINT - FAJN Nábytek">
                    <figcaption>Kancelářský program POINT</figcaption>
                </figure>
            </div>
            <div class="col-lg-3">
                <figure>
                    <img src="/static/img/dev/kancelare/point_kancelaria_2_bardolino.webp" alt="Kancelářský program POINT - FAJN Nábytek">
                    <figcaption>Kancelářský program POINT</figcaption>
                </figure>
            </div>
        </div>
    </div>
    <div class="big-wrap">
        <div class="big-text-column">
            <h2 style="margin-bottom: 60px;">Vestavěné skříně děláme plnohodnotné, tedy žádné regály na stěně či výklenku. Ergonomii Vám navrhneme přesně dle Vašich požadavků.</h2>
        </div>
        <div class="big-img-column">
            <div class="col-lg-3">
                <figure>
                    <img src="/static/img/dev/kancelare/skrin1.webp" alt="Vestavěné skříně - FAJN Nábytek">
                    <figcaption>Skutečné foto realizace</figcaption>
                </figure>
            </div>
            <div class="col-lg-3">
                <figure>
                    <img src="/static/img/dev/kancelare/skrin2.webp" alt="Vestavěné skříně - FAJN Nábytek">
                    <figcaption>Skutečné foto realizace</figcaption>
                </figure>
            </div>
            <div class="col-lg-3">
                <figure>
                    <img src="/static/img/dev/kancelare/skrin3.webp" alt="Vestavěné skříně - FAJN Nábytek">
                    <figcaption>Skutečné foto realizace</figcaption>
                </figure>
            </div>
            <div class="col-lg-3">
                <figure>
                    <img src="/static/img/dev/kancelare/skrin4.webp" alt="Vestavěné skříně - FAJN Nábytek">
                    <figcaption>Skutečné foto realizace</figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>

<footer>
    {%include 'partials/footer-alt.html'%}
</footer>
</body>

</html>