{%load static%}
<!DOCTYPE html>
<html lang="cz">


<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{%static 'css/header-alt.css'%}">
    <link rel="stylesheet" href="{%static 'css/dev.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{%static 'css/footer-alt.css'%}">
    <link rel="icon" type="image/png" href="{% static 'img/logo2.svg' %}">
    <link rel="stylesheet" href="/static/img/bootstrap-icons-1.10.1/bootstrap-icons.css">
    <script src="/static/js/bootstrap.min.js"></script>

    <title>Kuchyně na míru - FAJN Nábytek</title>

    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1RDWVE4DND"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1RDWVE4DND');
</script>

</head>

<body>
    <header>
        {%include 'partials/header-alt.html'%}
    </header>
<div class="index-body">
    <div class="go-back">
        <a href="https://fajn-nabytek.eu"><button><i class="bi bi-arrow-left"></i>Jít zpět</button></a>
    </div>
    <div class="wrap">
        <div class="text-column">
            <p><h2>Výběr kuchyní je opravdu velký</h2></p>
            <p>Nabídka našich kuchyní je jedním slovem impozantní. Z naší pestré modelové řady si vyberete styl, provedení i oblíbenou barvu. Od dekoru pracovní desky až po elegantní úchytky na dvířkách. Popusťte uzdu své fantazii a nechte se inspirovat v naší fotogalerii. Vyberte si podle svého srdce. Kuchyňská linka vás musí bavit!</p>
            <div class="text-column-img">
            <br><img src="/static/img/dev/kuchyne/kuch1.webp"><img src="/static/img/dev/kuchyne/kuch2.webp"><img src="/static/img/dev/kuchyne/kuch3.webp">
            </div>
        </div>
        <div class="img-column">
            <figure>
                <img src="/static/img/dev/kuchyne/kuch6.webp" alt="kuchyně na míru DOLFI - FAJN Nábytek" class="zoom">
                <figcaption>Skutečné foto realizace</figcaption>
            </figure>
        </div>
    </div>
    <div class="wrap">
        <div class="img-column">
            <figure>
                <img src="/static/img/dev/kuchyne/kuch4.webp" alt="kuchyně na míru DOLFI - FAJN Nábytek" class="zoom">
                <figcaption>Skutečné foto realizace</figcaption>
            </figure>
        </div>
        <div class="text-column">
            <p><h2>Navrhujeme kuchyně na míru</h2></p>
            <p>Každý, kdo někdy vybíral kuchyň, ví nejlépe, jak je obtížné se zorientovat v nepřeberném množství kombinací materiálů, barev a různých provedení. Pokud si nevíte rady, či v některých otázkách tápete, nechte to na nás. Připravíme pro vás návrh kuchyně zcela zdarma. Jediné, co od vás budeme potřebovat je, abyste nás osobně navštívili. Na nezávazné schůzce s vámi detailně probereme vaše potřeby, zvyklosti a představy o vaší nové kuchyni. Naší prioritou je vaše zdraví, pohoda a radost při vaření. A něco takového zkrátka neumíme zařídit po emailu. Přijďte si raději popovídat u dobré kávy a my vás za to odměníme návrhem pěkné kuchyně. Probereme i stavební připravenost rozvody - voda, odpad, odtah pro odsavač, případně elektro, materiály nosných zdí, sádrokartony apod. To vše má vliv na instalaci a montáž kuchyně.</p>
            <div class="text-column-img">
            <br><img src="/static/img/dev/kuchyne/kuchyne-nobilia-artis-2.webp"><img src="/static/img/dev/kuchyne/kuchyne-nobilia-easytouch-9.webp"><img src="/static/img/dev/kuchyne/kuchyne-nobilia-flash-1.webp"><img src="/static/img/dev/kuchyne/kuchyne-nobilia-inox.webp">
            </div>
        </div>
    </div>
    
</div>

<footer>
    {%include 'partials/footer-alt.html'%}
</footer>
</body>

</html>